body{
    background-color: #FFDFCA;
}

#portfolio-splash-screen{
    height: 60vh;
    display: flex;
    background-image: url("./Resources/Background-04.svg");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.portfolio-splash-screen-logo{
    width: 650px;
    animation: jumping 1.7s ease-in backwards infinite;
}

@keyframes jumping{
    0%{
        transform: translateY(0px)
    }

    50%{
        transform: translate(15px, 15px);
    }

    100%{
        transform: translateY(0px);
    }
}

#portfolio-container{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card{
    background-color: #EC9385;
    width: 400px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 18px;
    flex-wrap: wrap;
}

.card-image{
    background-color: #56425E;
    height: 400px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center center;
    border-radius: 18px 18px 0 0;
}

.project-one{
    background-image: url(./Portfolio/1.jpg);
}

.project-two{
    background-image: url(./Portfolio/2.gif);
}

.project-three{
    background-image: url(./Portfolio/3.jpg);
}

.project-four{
    background-image: url(./Portfolio/4.gif);
}

.project-five{
    background-image: url(./Portfolio/5.jpg);
}

.project-six{
    background-image: url(./Portfolio/6.jpg);
}

.project-seven{
    background-image: url(./Portfolio/7.jpg);
}

.project-eight{
    background-image: url(./Portfolio/8.jpg);
}

.project-nine{
    background-image: url(./Portfolio/9.jpg);
}

.project-ten{
    background-image: url(./Portfolio/10.gif);
}

.project-eleven{
    background-image: url(./Portfolio/11.gif);
}

.project-twelve{
    background-image: url(./Portfolio/12.jpg);
}

.project-thirteen{
    background-image: url(./Portfolio/13.JPG);
}

.project-fourteen{
    background-image: url(./Portfolio/14.jpg);
}

.project-fifteen{
    background-image: url(./Portfolio/15.jpg);
}

.card-text{
    padding: 15px;
    text-align: center;
    color: #391e44;
}

.card p{
    font-size: 14px;
    color: #FFDFCA
}

.card a{
    text-decoration: none;
    background-color: #FFDFCA;
    color: #56425E;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
}

.card a:hover{
    background-color: #56425E;
    color: #FFDFCA;
}

@media only screen and (max-width: 768px){
    .portfolio-splash-screen-logo{
        width: 80%;
    }

    #portfolio-container{
        padding: 10%;
    }

    .card{
        width: 100%
    }
    .card-image{
        height: 250px;
    }
}