body {
    font-family: 'Poppins', sans-serif;  
}

/* ------------ Home Style Start -------------- */
.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 25px;
    font-weight: 900;
}

.carousel-caption p {
    font-size: 18px;
    margin: auto;
    width: 60%;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    background: tomato;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid transparent;
}
.carousel-caption a:hover {
    text-transform: uppercase;
    background: transparent;
    padding: 10px 30px;
    display: inline-block;
    color: tomato;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    border-color: tomato;
    border: 2px solid; 
}
/* ------------ Home Style End -------------- */

/* ------------ About Style Start -------------- */
#about .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #191919;
}

#about .row div:nth-child(2) h2:nth-child(1) {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 4px;
}

#about .row div:nth-child(2) #about-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 7px 0 0 0;
    font-size: 2.8em;
    font-weight: bolder;
}

#about .row div:nth-child(2) #about-tags {
    text-transform: capitalize;
    font-weight: lighter;
    padding: 0 0 15px 0;
}

#about .row div:nth-child(2) p {
    font-size: 1.3em;
}

#about .row div:nth-child(2) .btn {
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}

#about .row div:nth-child(2) .btn:hover{
    border: 2px solid transparent;
    background-color: tomato;
    cursor: pointer;
}

#about .row div:nth-child(2) .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
/* ------------ About Style End -------------- */

/* ------------ Gallery Style Start -------------- */
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #191919;
}

.gallery .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #fff;
}

.gallery .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.gallery .box .columns{
    display: flex;
    flex-direction: column;
    width: 32.5%;

}
.gallery .box .columns img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5%;
}
/* ------------ gallery Style End -------------- */

/* ------------ Skills Style Start -------------- */
#skills .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #191919;
}

.card-title {
    font-weight: bold;
    letter-spacing: 2px;
}

.progress-bar {
    text-transform: uppercase;
}
/* ------------ Skills Style End -------------- */

/* ------------ Projects Style Start -------------- */
#projects{
    background-color: #191919;
}

#projects .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #fff;
}
/* ------------ Projects Style End -------------- */

/* ------------- Contact Style Start ------------- */
#contact{
    padding: 30px 0;
}

#contact .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #191919;
}

#contact .card .card-body .row div:nth-child(2) form .btn {
    border: 2px solid transparent;
    padding: 5px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#contact .card .card-body .row div:nth-child(2) form .btn:hover{
    border: 2px solid transparent;
    background-color: tomato;
    cursor: pointer;
}

#about .row div:nth-child(2) .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
/* ------------- Contact Style End ------------- */

/* ------------- Footer Style Start ------------- */
footer{
    background-color:#101010;
}
/* ------------- Footer Style End ------------- */

/* ------------- Media Query Start ------------- */
@media only screen and (max-width:700px){
    .gallery .box{
        flex-direction: column;
    }
    .gallery .box .columns{
        width: 100%;
    }
}
/* ------------- Media Query End ------------- */