body {
  
  
  color: #fff;
  position: relative;
 
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #B3CEE5;
  text-decoration: none;
}

a:hover {
  color: #B3CEE5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.portfolio-details {
  padding-top: 40px;
  background: #111111;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.portfolio-details .portfolio-info {
  padding-top: 45px;
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  
}
hr{
  border-bottom: 5px solid crimson;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-info h6{
  margin-top: 2rem;
}
.portfolio-details .portfolio-info p {
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  text-align: justify;
}
@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}
.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #B3CEE5;
}

